---
import { socialMedia } from '../const/socialMedia';

interface Props {
  size?: number;
}

const { size = 24 } = Astro.props;
---

<div class='flex space-x-6'>
  {
    socialMedia.map((media) => (
      <a
        href={media.url}
        class='hover:text-blue-500 transition-colors'
        target='_blank'
        rel='noopener noreferrer'
      >
        <media.icon size={size} />
      </a>
    ))
  }
</div>
