<section id='about-me' class='py-20 bg-white'>
  <div class='container mx-auto px-6'>
    <h2 class='text-4xl font-bold text-center mb-16'>Sobre m铆</h2>
    <div class='max-w-3xl mx-auto text-lg text-gray-600 leading-relaxed mb-6'>
      <p class='mb-2'>
         Ingeniero en Inform谩tica con experiencia en el desarrollo de
        aplicaciones web y m贸viles, especializado en tecnolog铆as como React,
        React Native, TypeScript, Next.js, Laravel y Node.js.
      </p>
      <p class='mb-2'>
         He participado en el ciclo completo de desarrollo de software, desde
        la implementaci贸n de soluciones internas con bots inteligentes hasta la
        optimizaci贸n de componentes core para mejorar el rendimiento del
        sistema.
      </p>
      <p class='mb-2'>
         Destaco por mi capacidad para integrar tecnolog铆as modernas, migrar
        sistemas a herramientas m谩s eficientes y mejorar la experiencia del
        usuario mediante c贸digo modular, eficiente y mantenible.
      </p>
      <p>
         Con experiencia en frontend, backend y comunicaci贸n en tiempo real,
        aporto soluciones escalables que responden a las necesidades del
        negocio.
      </p>
    </div>
  </div>
</section>
